.container{
    padding: 0px 15%;
}

body{
    margin: 0;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

header #logo{
    position: relative;
    width: 60px;
    bottom: 20px;
}

header img{
    width: 30px;
    padding: 10px;
}

header ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

header li{
    margin: 10px;
}

header a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.principal h2{
    background-image: url(img/mueblesyhogares.png);
    width: 100%; 
    height: fit-content;
    color: white;
    font-size: 64px;
    text-align: center;
    margin: 0px;
}

.principal p{
    font-size: 32px;
    text-align: center;
}


.modelos{
    display: flex;
    justify-content: space-between;
}

article {
    padding: 25px;
    max-width: 26%;
    border-radius: 50px;
    background-color: wheat;
    box-shadow: 0px 0px 5px 1px black;
}
article h3{
    font-size: 24px;
    margin: 0%;
}

article .cabana{
    width: 100%;
    
}
article .guardado{
    position: relative;
    top: -26px;
    left: 90%;
    max-height: 24px;
}

article .guardado:hover{
    filter: invert(14%) sepia(72%) saturate(7393%) hue-rotate(358deg) brightness(108%) contrast(117%);
    cursor: pointer;
}


button{
    border-radius: 17px;
    border: solid black 2px;
    padding: 20px;
    cursor: pointer;
}

.clientes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px
}

.clientes img{
    width: 300px;
    max-height: 300px;
    transform: scale(var(--escala,1));
    transition: transform 0.25s;
    object-fit:fill;
    object-position: center;
}

.clientes img:hover{
    --escala:1.15;
    z-index: 1;
}

#logoAbajo{
    position: relative;
    left: 75%;
    top: 7px;
}

.descuento{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}

.descuento p{
    font-size: 24px;
    max-width: 25%;
}

.descuento .inscripcion{
    width: 70%;
    display: flex;
    align-items: center;
}

.descuento .inscripcion input{
    border: solid white 2px;
    background-color: black;
    place-content: white;
    height: 40px;
    width: 30%;
    padding: 0px 10px;
    margin-right: 10px;
}

.descuento div .checks {
    display: block;
    padding: 0px 10% 0px 5%;
}
.descuento div .checks div{
    width: 100%;
}

.descuento div .checks input{
    height: auto;
}

.descuento .inscripcion button{
    position: relative;
    
}

footer nav{
    display: flex;
    margin: 0px 10%;
    justify-content: space-between;
}

footer ul{
    list-style-type: none;
    position: relative;
    padding: 0;
    margin: 0;
}

footer h3{
    margin: 30px 0px 0px;
}

footer ul li {
    margin: 20px 0px;
}

footer ul li a{
    color: black;
    text-decoration: none;
}

footer button{
    padding: 5px;
    border-radius: 0px;
}

footer .redes{
    display: flex;
    justify-content: center;
    padding: 100px;
}

footer .redes img{
    padding: 25px;
}

#arriba{
    position: fixed;
    bottom: 30px;
    left: 90%;
    z-index: 1;
    height: 80px;
    width: 80px;
}

#whatsapp{
    position: fixed;
    bottom: 110px;
    left: 90%;
    z-index: 2;
    height: 80px;
    width: 80px;
}



@media (min-width:1345px){

    .clientes img{
        width: 100%;
        height: auto;
    }
}

@media (max-width:1330px){
    .clientes{
        grid-template-columns: 1fr 1fr;
    }
    .clientes img{
        width: 100%;
        min-width: 300px;
        height: auto;
    }
}